/* Body Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body{
  height:100%;
}
body{
  background-color: #004274;
}

/* Desktop design */
@media screen and (min-width:1200px) {
/* Top bar styles */
.topBar{
  background-color: #004274;
  display: flex;
  height: 70px;
  border-bottom: 2px solid white;
}
.row-left{
  flex: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#row-center{
  flex: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-left .webName {
  font-size: 14px;
  color: white;
  padding: 14px 10px;
  text-decoration: none;
  outline: none;
  transition: 0.4s;
  font-weight: bold;
}
.row-left #hamburguerIcon{
  display: none;
}
.dropdown{
  position: relative;
}
.dropdown .dropdownButton{
  background-color:  #004274;
  padding: 14px 18px;
  color: white;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  transition: 0.4s;
}
.dropdown .dropdownContainer{
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  min-width: 160px;
  overflow: auto;
}
.dropdownContainer a{
  float: none;
  display: block;
  padding: 14px 18px;
  color: white;
  background-color:  #004274;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: 0.4s;
}
.arrow-down{
  display: inline-block;
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 3px;
  margin-left: 10px;
  transform: rotate(45deg);
}
.topBar .individual{
  padding:14px 18px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: 0.4s;
}
.dropdown:hover .dropdownContainer{
  display: block;
  border: 1px solid white;
}
.dropdown:hover .dropdownButton{
  background-color: #d55b01;
}
.topBar .individual:hover, .dropdownContainer a:hover{
  background-color: #d55b01;
}
.webName:hover{
  background-color: #d55b01;
}


/* Submenu Tab */
.submenuTab{
  margin: 50px;
  color: white;
}
.tabTitle{
  margin: 40px;
  font-size: 48px;
  border-bottom: 5px solid #d55b01;
}
.tabDescription{
  margin: 40px;
  font-size: 16px;
}
}

/* Mobile design */
@media screen and (max-width:1199px){
/* Top bar styles */
.topBar{
  background-color: #004274;
  display: flex;
  flex-direction: column;
}
.row-left{
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}
#row-center{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}
.row-left .webName {
  display: inline-block;
  font-size: 15px;
  color: white;
  padding: 12px;
  text-decoration: none;
  outline: none;
  transition: 0.4s;
  font-weight: bold;
}
.row-left #hamburguerIcon{
  display: inline-block;
  font-size: 20px;
  color: white;
  padding: 10px 15px;
}
.dropdown{
  display: block;
  width: 100%;
}
.dropdown .dropdownButton{
  display: block;
  width: 100%;
  background-color:  #004274;
  padding: 10px 18px;
  color: white;
  outline: none;
  border: none;
  font-size: 10px;
  font-weight: bold;
  transition: 0.4s;
}
.dropdown .dropdownContainer{
  display: none;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  overflow: auto;
  border: 1px solid white;
}
.dropdownContainer a{
  float: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 18px;
  color: white;
  background-color:  #004274;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  transition: 0.4s;
}
.arrow-down{
  float: right;
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(45deg);
}
.topBar .individual{
  display: block;
  width: 100%;
  text-align: center;
  padding:10px 18px;
  color: white;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  transition: 0.4s;
}
.dropdown:hover .dropdownButton{
  background-color: #d55b01;
}
.dropdown:hover .dropdownContainer{
  display: block;
  border: 1px solid white;
}
.topBar .individual:hover, .dropdownContainer a:hover{
  background-color: #d55b01;
}
.webName:hover, #hamburguerIcon:hover{
  background-color: #d55b01;
}

.submenuTab{
  margin: 20px;
  color: white;
}
.tabTitle{
  margin: 20px;
  font-size: 15px;
  border-bottom: 5px solid #d55b01;
}
.tabDescription{
  margin: 20px;
  font-size: 10px;
}

}